*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #181818;
  color:#fff;
}
.container{
  display:flex;
  flex-direction: row;
  overflow:hidden;
}
.left{
flex: 4;
width: 80%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.logo img{
  width:250px;
  height: auto;
  padding-bottom: 6vh;
}
.form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0.2rem 0;
  font-size: 0.8rem;
}
.text-input{
  margin: 0.3rem 0 1.5rem 0;
  height: 2.5rem;
  border: 1px solid #555;
  background-color: #181818;
  border-radius: 2px;
  width: 100%;
}
.btn-1{
  width:100%;
  background-color: #f96816;
  height: 2.5rem;
  border: none;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  margin-bottom: 4vh;
  transition: background-color 1s;
}
.btn-1:hover{
  background-color: #ff7b39;
}
.sign-in{
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
}
.sign-in a{
  text-decoration: none;
  display: block;
  color:#fff;
  font-size: 0.9rem;
  text-align: center;
  padding-bottom: 0.4rem;
  line-height: 1.2rem;
}
.sign-in a:hover{
  color:#ff7b39;
}
.or{
  padding:4px 0;
  display: block;
  width:100%;
  margin: 1rem 0;
  color:#ff7b39;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  text-align: center;
}

.btn-2{
  display: block;
  width:60%;
  background-color: #181818;
  height: 2.5rem;
  border: 1px solid #ff7b39;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  margin-bottom: 4vh;
  transition: border 1s;
  text-decoration: none;
  padding-top: 10px;
}
.btn-2:hover{
  border:1px solid #fff;
  color:#ff7b39;
}
.footer{
  font-size: 14px;
  margin-top: 2.5vh;
  color:#ccc;
}
.btn-3{
  display: block;
  width:60%;
  height: 2.5rem;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  margin-top: 3vh;
  transition: border 1s;
  text-decoration: none;
  padding-top:10px;
  font-size: 1.2rem;
}
.right{
  flex:6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
h2{
  font-size: 2.5rem;
  text-align: center;
}
@media(max-width:1200px){
  .left, .right{
    flex:1;
  }
  .btn-3{
    height: 60px;
  }
}
@media(max-width:600px) {
  .left{
    margin: auto;
    width:80%;
    height: 100vh;
    align-items: center;
    overflow: auto;
  }
.logo img{
  margin-top: 1.5vh;
  padding-bottom: 2vh;
}
.text-input , .btn-1 , .btn-2 , .btn-3{
  margin-bottom: 1.3rem;
}
.footer{
  padding-bottom: 1.5rem;
  margin-top:0.5rem;
}
.right{
  display: none;
}
}
